body {
    background: url(../img/bghome.png);
    font-family: "Courier New";
    color: black;
}

.topnav {
    color: black;
    font-size: 1.2rem;
    padding: 10px;

    user-select: none;
    font-family: sans-serif;
}

.book {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    widows: 10px;
}

.card {
    max-width: 400px;
    max-height: 400px;
}

a {
    color: black;
}

.menu {
    visibility: hidden;
}



a:hover {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}


div#books > h2 {
    margin-top: 10px;
    color: blue;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p > b {
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
    .tohide > a {
        color: white;
    }
    .tohide {
        display: none;
        background-color: black;
    }
    .menu {
        visibility: visible;
        float: right;
    }
}
