#form {
	border: 1px solid black;
	width: 450px;
	margin-top: 20px;
	border-radius: 5px;
	margin-left: 35%;
}

#topbar {
	margin-top: 0px;
	background-color: darkblue;
	color: aliceblue;
	font-size: 1rem;
	font-size: 2.5rem;
	font-weight: bold;
	padding: 10px;
}

h5 {
	float: right;
	font-family: monospace;
}

span {
	font-size: 1.4rem;
	padding: 10px;
	font-family: monospace;
	user-select: none;
}

#button {
	float: right;
}

input {
	margin-bottom: 5px;
	outline: none;
	border: none;
	border-bottom: 2px solid black;
	border-radius: 4px;
	color: blue;
}

input:focus {
	border: none;
	border-bottom: 3px solid blue;
	border-radius: 6px;
}

div.col-12 {
	padding: 10px;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

@media only screen and (max-width: 768px) {
	#form {
		width: 300px;
		
		margin-left: 5%;
	}
	h5 {
		display: none;
	}
}
